  .sidenav {
    background: #f46e07fb; /*color del menu MinerApp */
    width: 5rem;
    height: 100vh;
    position: fixed;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
    z-index: 10; /* Añade un z-index alto para superposición */
    
  }
  
  .sidenav-collapsed {
    width: 16.5625rem;
    
  }
  
  .sidenav-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /*El fondo del contenido*/
    z-index: 9; /* Debajo del sidenav pero encima del contenido */
    
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    justify-content: center; /* Centrar contenido horizontalmente */
    position: relative; /* Para posicionar absolutamente el botón de cierre */
    
  }
  
  .logo {
    background: #ffffff;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    display: flex; /* Asegurar que el botón sea un contenedor flexible */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; 
    margin-right: 1rem; /* Centrar horizontalmente */
  }
  
  .logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    flex-grow: 1; /* Asegurar que el texto ocupe el espacio disponible */
    text-align: center ; /* Centrar el texto horizontalmente */
    display: flex;
    align-items: center;
 
    
  }
  
  .btn-close {
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
  }
  
  .fa-times {
    color: #ffffff;
    font-size: 24px;
  }
  
  .close-icon {
    font-size: 20px;
    color: #ffffff;
    transition: transform .5s ease; /* Transición para el ícono de "X" */
    margin-left: 0px; /*Moverlo hacia la derecha*/
    margin-right: 0;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    margin-top: 0.3rem; /* Ajuste para bajar el ícono */
    transform: rotate(360deg);

  }

  .sidenav-nav {
    list-style: none;    
    margin-top: 2rem; 
    margin-left: -0.3rem;  
    width: 80%;    
   
  }

  .sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all .3s ease;
    padding: 0 1rem;
   
  }
  
  .sidenav-nav-link:hover {
    background-color: #ffffff;
    color: #000000;
    
  }
  
  .sidenav-nav-link .sidenav-link-icon {
    font-size: 25px;   
    width: 2rem;
    min-width: 2rem;
    margin-right: 1rem;
   
  }
  
  .sidenav-nav-link .sidenav-link-text {
    display: none;
    margin-left: 1.5rem;
   
  }
  
  .sidenav-collapsed .sidenav-link-text {
    display: inline-block;
    font-size: 16.5px;  /*Tamaño de letra*/  
    
  }

  

  